<html>
    <head>
        <link rel="stylesheet" href="/static/login.css">
    </head>

    <body>
        <div class = 'table'>
            <div class = 'cell'>
                <form submit="/blackjack" method="POST">
                    <span>Username: <input type="text" name="username" required></span><br>
                    <span>Password:  <input type="password" name="password" required></span><br>
                    <input type="submit" value="Log In" name = "action">
                    <input type="submit" value="Sign Up" name = "action">
                </form>
            </div>
        </div>
    </body>
</html>